.footer {
  background-color: #45474e;
  color: #ddd;
  line-height: 1.5rem;

  .first-footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;

    div {
      font-size: 0.8rem;

      h2 {
        // text-transform: uppercase;
        padding: 1.5rem 0;
        font-family: Quentin;
        font-size: 2rem;
        color: palevioletred;
      }

      h2::after {
        content: "";
        padding-top: 1rem;
        border-bottom: solid white 2px;
        width: 50px;
        display: block;
      }

      h3 {
        padding-bottom: 0.5rem;
      }

      ul {
        list-style-type: none;
        margin: 0;

        li {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }

    p {
      padding-bottom: 1rem;
    }

    form {
      input {
        width: 100%;
        border: none;
        padding: 1rem 0.5rem;
        margin-bottom: 1rem;
      }

      input[type="submit"] {
        background-color: palevioletred;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        color: white;
      }

      input[type="submit"]:hover {
        cursor: pointer;
        background-color: white;
        color: palevioletred;
      }

      input:focus {
        outline: none;
        border: none;
      }
    }

    .social-item {
      font-size: 1.2rem;
      padding-right: 1rem;
    }
  }
  hr {
    height: 1px;
    background-color: rgba($color: #ddd, $alpha: 0.2);
    border: none;
  }
  .secondFooter {
    padding: 2rem;
    small {
      display: block;
      margin: 0 2rem;
    }
  }
}

@media only screen and (max-width: 425px) {
  .footer {
    .first-footer {
      grid-template-columns: repeat(1, 1fr);
      padding: 1rem;
      div {
        margin: 0 1rem;
      }
    }
    .secondFooter {
      padding: 1rem;
      small {
        margin: 0 1rem;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .footer {
    .first-footer {
      grid-template-columns: repeat(2, 1fr);
      padding: 1rem;
      div {
        margin: 0 1rem;
      }
    }
    .secondFooter {
      padding: 1rem;
      small {
        margin: 0 1rem;
      }
    }
  }
}
@media only screen and (min-width: 1024px) {
  .footer {
    .first-footer {
      grid-template-columns: repeat(4, 1fr);
      padding: 2rem;
      div {
        margin: 0 2rem;
      }
    }
    .secondFooter {
      padding: 2rem;
      small {
        margin: 0 1rem;
      }
    }
  }
}
